@charset 'utf-8';

@import './button.scss';
@import './reset.scss';

html,
body {
  height: 100%;
  background: #f0f0f0;
  font-size: 14px;
  max-width: 640px;
  margin: 0 auto;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c0c4cc;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c0c4cc;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c0c4cc;
}

textarea::-webkit-input-placeholder {
  color: #c0c4cc;
}

textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c0c4cc;
}

textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c0c4cc;
}

textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c0c4cc;
}
