@import './variables.scss';

.m-btn {
  border: none;
  outline: none;
  display: inline-block;
  padding: 0 0 0 0;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: linear;
  transition-delay: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* 大小 */
.m-btn-mini {
  @extend .m-btn;
  font-size: 12px;
  line-height: 1.5;
  padding: 2px 4px;
}

.m-btn-sm{
  @extend .m-btn;
  font-size: 14px;
  line-height: 1.5;
  padding: 4px 8px;
}

.m-btn-md {
  @extend .m-btn;
  font-size: 16px;
  line-height: 1.5;
  padding: 6px 12px;
}

.m-btn-lg {
  @extend .m-btn;
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 16px;
}
