@charset 'utf-8';

/* 颜色 */
$primary-theme: #B84EFF;
$light-theme: #D3B7FF;
$primary-grey: #72737F;
$light-grey: #9A9BA7;

/* 字体 */
$font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', sans-serif;